---
import Body from '../components/Body.astro';
---

<Body>
    <h1 class="text-center text-9xl m-0 p-0 leading-[300px] mt-5">404</h1>
	<img src="/SL2_black.svg" alt="SL_black" class="fixed top-[25%] h-[50%] left-[50%] -translate-x-[50%] z-5">
	<h1 class="text-center text-9xl m-0 p-0 leading-[300px] mt-[220px]">NOT FOUND</h1>
</Body>