---
import HeaderLink from "./HeaderLink.astro"

// interface Props {
//     text: string,
//     href: string
// }
---

<HeaderLink href="/"><h2 class="fixed text-2xl mt-5 ml-5">Go back home</h2></HeaderLink>